.a{
    height: 900px;
    width: 100%;
    background-color: white;
    border: 2px solid white;
}
.b{
    height: 400px;
    width: 100%;
    background-color: white;
    border: 2px solid white;
}
.c{
    height: 370px;
    width: 25%;
    background-color: rgb(197, 194, 194);
    margin-left: 7.5%;
    margin-top: 20px;
    float: left;
}
.d{
    height: 370px;
    width: 25%;
    background-color: rgb(204, 250, 252);
    margin-left: 5%;
    margin-top: 20px;
    float: left;
}
.e{
    height: 370px;
    width: 25%;
    background-color: rgb(255, 229, 190);
    margin-left: 5%;
    margin-top: 20px;
    float: left;
}
.f{
    height: 370px;
    width: 25%;
    background-color: rgb(203, 201, 201);
    margin-left: 7.5%;
    margin-top: 20px;
    float: left;
}
.g{
    height: 370px;
    width: 25%;
    background-color: rgb(204, 250, 252);
    margin-left: 5%;
    margin-top: 20px;
    float: left;
}
.h{
    height: 370px;
    width: 25%;
    background-color: rgb(255, 229, 190);
    margin-left: 5%;
    margin-top: 20px;
    float: left;
}
.i{
    text-align: left;
    font-size: 60px;
    margin-left: 10px;
   /* font-family: Arial, Helvetica, sans-serif;*/
}
.j{
    font-size: 20px;
    margin-left: 10px;
}
.k{ 
    text-align: center;
    background-color: rgb(109, 59, 155);
    height: 40px;
    width: 120px;
    margin-left: 15px;
}
#z1{
    margin-top: 15px;
    margin-left: 10%;
    height: 100px;
    width: 100px;
    background-color: rgb(252, 255, 172);
}
.l{
    text-align: center;
    font-size: 30px;
}
.m{
    margin-left: 10%;
    font-size: 20px;
}
.n{
    height: 50px;
    width: 150px;
    background-color: rgb(123, 59, 183);
    margin-left: 10%;
}